.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;

}

.navpt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}

.navinput input {
    width: 10vw;
    padding: 5px;
    border: 2px solid #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B0B0B0;
}